#OS X
**/.DS_Store


#Fastlane
fastlane/README.md
Preview.html
screenshots/
AppStore_com.*
CoachCast.app.*
*.mobileprovision
CoachCast.ipa
fastlane/report.xml

#Documentation
docs/

## Build generated
build/
Derived_Data/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

*.orig

## CocoaPods
Pods/
